/*Resetando CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button{
        font-family: "Bungee", sans-serif;
        font-weight: normal;
}

body, input, textarea{
    font-family: "Roboto", sans-serif;
}

header {
    padding: 16px 0;
    background-color: #182C61;
    color: #ecf0f1
}

header h1,
section h2,
section h3 {
    font-weight: normal;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 24px;
}
header nav li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 18px;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lista-imagens img{
    height: 24px;
}

.lista-imagens li{
    display: inline;
    margin-right: 8px;
}

section .container{
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
    color: #182C61;
}

section{
    color: #182C61;
}

section p{
    margin-bottom: 8px;
}

.imagem-faxada{
    margin-right: 32px;
}

.social-imagens img{
    height: 24px;
}

.social-imagens li{
    display: inline;
    margin-right: 8px;
}

.social-imagens li a{
    text-decoration: none;
}

#contato .container{
    display: block;
}

.contato-form{
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

section h3{
    margin-bottom: 16px;
}

form button{
    background-color: #182C61;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color:#4a6cc9;
}

input:focus, textarea:focus{
    outline-color: #182C61;
}

footer {
    background-color: #182C61;
    color: #ecf0f1;
    padding: 16px 0;
}